
################################################
# 🧬 RAW genomic data (NEVER TRACK)
################################################

*.bed
*.bigwig
*.bw
*.bam
*.fastq
*.fq

# GEO / raw sequencing txt
*.txt

################################################
# 📦 LARGE intermediate results
################################################

*.parquet
*.rds
*.pkl
*_matrix*
*_density*
*_clean_df*

################################################
# 🧪 HPC / logs
################################################

*.log
*.out
*.err
slurm-*.out

################################################
# 🐍 Python cache
################################################

__pycache__/
*.pyc

################################################
# 📓 notebooks cache
################################################

.ipynb_checkpoints/

################################################
# 💻 system files
################################################

.DS_Store

################################################
# 🚨 large project folders (VERY IMPORTANT)
################################################

Megakaryocyte/
PDAC/
Pancreas/
all_bigwig/
all_bed/
tissue_cell_type_methylation_density/


########################################
# 🧬 BIG methylation / genome results
########################################

*.bedGraph
*.mods
*.bed
*.bigwig
*.bw

########################################
# 📦 large folders (VERY IMPORTANT)
########################################

PDAC_orgnoid/
asTair_result/
spleen/

